body {
  font-family: Overpass;
  background-color: #f9ebc88d;
  color: #644536;
  text-align: center;
  line-height: 1.3;
  padding: 25;
}

  h1, h2, h3 {
    font-family: Chivo;
    color: hsl(242, 91%, 45%);
  }

  a {
    text-decoration: none;
    color: white;
    background-color: #2da140;
    padding: 15px;
    border-radius: 100px;
    transition: 0.3s ease;
  }

  a.button:hover {
    background-color: #211052;
  }

  a.fab:hover {
    background-color: #0fdc7c;
  }


  .white-class {
    background-color: white;
    padding: 50px;
    width: 500px;
    margin: 25px auto;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
  }

  #header-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  div {
    border-top: 3px solid red;
    border-right: 2px dotted black;
    border-bottom: 1px dashed green;
    border-left: 2px dotted black;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  i {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  .list-inline i {
    font-size: 50px;
    color: rgb(230, 230, 230);
    display: flex;
  }

  .list-inline {
    list-style: none;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    gap: 23px;
  }

  html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 125%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
}

.button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 90%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.button:active {
    color: #000
}

.button:active:after {
    background: transparent;
}

.button:hover:before {
    opacity: 10;
}

.button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
